ng<ion-view view-title="Menusifu">
<ion-header-bar align-title="center" class="bar-dark">
        <h2  class="font30px cfff" translate>
          served
        </h2>
        
        <h1 class="title" style="font-size:30px">{{clock | date:'HH:mm:ss'}}</h1>
        <div class="buttons">
                  
             <a class="button button-energized button-icon ion-ios-undo" style="border:solid #ccc 1px;font-size:25px;margin-right:8px;" href="#{{config.runnerIndex}}" translate>back</a>
        </div>
    </ion-header-bar>
    <div class="bar bar-subheader" >
       <div class="row subHeader">
          <div class="w220px" translate>orderInfo</div>
         <div style="width:calc(100% - 445px);width:-webkit-calc(100% - 445px);" translate>dishName</div>
         <div class="w125px" translate>time</div>
         <div class="w150px" translate>status</div>
      
    </div>
</div>
  <ion-content class="mt48px">
  
  <div class="dfr w100"  >
     <div  class="dfr w100 bge" ng-repeat="item in orderList | filter:{orderStatus:'SERVED'}"  ng-init="item.parent=true"
      ng-style="{'margin-bottom':item.parent?'10px':'0','margin-top':item.parent?'10px':'0'}">
             <div  class="dfr bdc w100 gbe" >  
                     <div class="w250px hmin90px f25px tc mauto h100" >
                                                      <div class="dib tl h100">
                                                            <div class="lh30px db">Order&nbsp;&nbsp;#{{item.orderNum}}</div>
                                                             <div class="lh30px db">{{type[item.orderType]}}&nbsp;&nbsp;{{item.tableName}}</div>
                                                            <div class="lh30px db">{{item.server}}</div> 
                                                       </div>
                             </div>
                                               <div class="f1 tc bgf ptrbl0-5px pr" >
  <div class="pa par w150px blc bgf h100 z10 wmin125px">
                                   <h1 class="done">Served</h1>
                                  </div> 
                                  <div class="pa par150px w125px blc bgf h100 z10 wmin125px" style="white-space:nowrap" >
                                   <h1 class="servedTime"> {{item.servedTime | to_12:this}}</h1>
                                  </div>
                                                <span ng-repeat-start="order in item.orderItemList"  class="dn"></span>
                                                <span ng-repeat-start="groundItems in order.orderItemListGroupBySubOrder"  class="dn" ></span> 
                                                  <div 
                                                   class="dfr hmin45px bbe lh45px f25px"
                                                   ng-repeat-end ng-repeat="itemsub in groundItems.orderItemList">
                                                          <div style="width:calc(100% - 275px);width:-webkit-calc(100% - 275px);" class="tl f22px lh30px">
                                                              <p  ng-class="{itemVoid:itemsub.voidItem}">
                                                              <span ng-if="!!groundItems.subOrderName" 
                                                              class="seat">S{{groundItems.subOrderName}}</span>
                                                             

                                                               <span ng-if="!!item.recall" class="recall">R</span>
                                                              <span   class="lh30px f25px"  ng-value="item.parent=true">
                                                        
                                                              {{itemsub.itemDetail}}</span><span ng-if="!!(itemsub.printQuantity>1)"  class="cred f20px fw600"> X {{itemsub.printQuantity}}</span><span ng-if="!!order.courseName"  class="cred">({{order.courseName}})</span></p>
                                                        

                                                               <p ng-repeat="combo in itemsub.subOrderItems" >&nbsp;&nbsp;{{$index+1}},{{combo.itemDetail |to_trusted }}  <span  class="cred f20px fw600"> X {{combo.printQuantity}}</span></p>  



                                                              <p ng-repeat="itemSec in itemsub.orderOptionItems" ng-if="$index % 2 ==0"  >  
                                  <span ng-if="$index+0<itemsub.orderOptionItems.length">&nbsp;&nbsp;{{itemsub.orderOptionItems[$index+0].optionDetail |to_trusted}}   &nbsp;|</span>  
                                  <span ng-if="$index+1<itemsub.orderOptionItems.length">&nbsp;&nbsp;{{itemsub.orderOptionItems[$index+1].optionDetail |to_trusted}}</span>  
                                     </p>  

                                                            </div>

                                                           <div style="width:125px;min-width:125px;">&nbsp;</div>
                                                          
                                                           <div style="width:150px;"  id="change{{itemsub.id}}" >

                                  &nbsp;
                                 </div>
                                                   </div>

                                                   <span ng-repeat-end class="dn"></span>  
                                            </div>
                  
           
        
  
<div>


</div>

  <div>

  </ion-content>
</ion-view>



