<ion-view view-title="Menusifu">
   <ion-header-bar align-title="center" class="bar-dark">
      <h2  class="font30px cfff" ng-click="alert()" id="auto" translate>
         {{'kitchenDisplay'}}
      </h2>
        <a class="button button-energized button-icon"  style="border:solid 1px #ccc;font-size:25px;margin-left:2vw;color:yellow" translate ng-click="language()">english</a>
      <h1 class="title" style="font-size:30px">{{clock | date:'HH:mm:ss'}}</h1>
      <div class="buttons">
         <button class="button button-energized button-icon ion-ios-undo" ng-if="!!config.kitchenUpdoListLen" ng-click="kitchUpdo()" style="border:solid 1px #ccc;font-size:25px;margin-right:8px" translate>undo</button>
         <a class="button button-energized button-icon ion-search" ng-click="search('','kitchen','go')" style="border:solid 1px #ccc;font-size:25px;margin-right:8px" translate>search</a>
         <a class="button button-energized button-icon  ion-ios-paperplane"  style="border:solid 1px #ccc;font-size:25px;margin-right:8px"  ng-click="goToRecall()" translate>recall</a>
         <a class="button ion-close-circled" onclick="closeChrome();" style="font-size:25px;" if="config.platform"></a>
      </div>
   </ion-header-bar>
   <div class="bar bar-subheader">
      <div class="row subHeader">
         <div class="w220px" translate>orderInfo</div>
         <div style="width:calc(100% - 445px);width:-webkit-calc(100% - 445px);" translate>dishName</div>
         <div class="w125px" translate>time</div>
         <div class="w150px" translate>status</div>
      </div>
   </div>
   <ion-content  class="mt48px">
      <div class="dfr w100" >
      <div class="dfr w100"  ng-repeat="item in orderList | filter:{kitchShow:true,printerName:config.printerName}"  ng-init="item.parent=true;item.delay=false;"
         ng-style="{'margin-bottom':item.parent?'10px':'0','margin-top':item.parent?'10px':'0'}" ng-class="{hasborder:item.delay}">
      <div class="dfr w100 bge bdc">
      <div  class="w250px hmin90px f25px tc mauto h100" >
         <div  class="dib tl h100">
            <div  class="h30px dib lh30px">
               Order&nbsp;&nbsp;#{{item.orderNum}}
            </div>
            <div  class="h30px db lh30px" >{{type[item.orderType]}}&nbsp;&nbsp;{{item.tableName}}</div>
            <div   class="h30px db lh30px">{{item.server}}</div>
         </div>
      </div>
      <div  class="f1 tc bgf ptrbl0-5px">
         <span ng-repeat-start="order in item.orderItemList" class="dn"></span>
         <span ng-repeat-start="groundItems in order.orderItemListGroupBySubOrder"  class="dn" ></span> 
         <div class="dfr w100 bbe f25px lh45px hmin45px myclick"   ng-repeat-end ng-repeat="itemsub in groundItems.orderItemList | filter:{prepareStatus:'!COMPLETE'}"  ng-click='processSubmit("{{item.id}}","{{itemsub.id}}")'  on-hold='search("{{itemsub.itemDetail}}","kitchen","go")'>
            <div style="width:calc(100% - 275px);width:-webkit-calc(100% - 275px);" class="tl f22px lh30px"  ng-value='{{item.delay=itemsub.count>delay}}'>
               <p  ng-class="{itemVoid:itemsub.voidItem}">
                  <span ng-if="!!groundItems.subOrderName" 
                     class="seat">S{{groundItems.subOrderName}}</span>
                  <span ng-if="!!item.recall" class="recall">R</span>
                  <span   class="f25px lh30px" ng-value="item.parent=true">
                  {{itemsub.itemDetail}}</span><span ng-if="!!(itemsub.printQuantity>1)" class="cred f20px fw600"> X {{itemsub.printQuantity}}</span><span ng-if="!!order.courseName"  class="cred">({{order.courseName}})</span>
               </p>
               <p ng-repeat="combo in itemsub.subOrderItems" style="text-indent:12px;">{{$index+1}},{{combo.itemDetail | to_trusted }}
                  <span ng-repeat="comboOption in combo.orderOptionItems" class="f15px cblue">{{comboOption.optionDetail | to_trusted}} &nbsp;|&nbsp;</span>
               </p>
               <p ng-repeat="itemSec in itemsub.orderOptionItems" ng-if="$index % 2 ==0"  >  
                  <span ng-if="$index+0<itemsub.orderOptionItems.length">&nbsp;&nbsp;{{itemsub.orderOptionItems[$index+0].optionDetail |to_trusted}}   &nbsp;|</span>  
                  <span ng-if="$index+1<itemsub.orderOptionItems.length">&nbsp;&nbsp;{{itemsub.orderOptionItems[$index+1].optionDetail |to_trusted}}</span>  
               </p>
            </div>
            
            <div  class="w125px" my-current-time></div>
            <div  id="change{{itemsub.id}}"  ng-if="!itemsub.voidItem" class="w150px tc"  >{{prepareStatus[itemsub.prepareStatus]}}</div>
            <div   ng-if="!!itemsub.voidItem" id="change{{itemsub.id}}" class="w150px tc" >Confirm</div>
         </div>
         <span ng-repeat-end  class="dn"></span>  
      </div>
      <div>
      </div>
      <div>
   </ion-content>
</ion-view>